<div class="container cards">
    <div class="row">
        <div class="col-2 sidenav">   
        <ul>
            <li><a href="#">Enroll for the niepmd job coaching</a> </li>
            <li><a href="#">Attempt the new mock tests</a> </li>
            <li><a href="#">Attend the practice sessions</a> </li>
            <li><a href="#">Know the job notifications released</a> </li>
            <li><a href="#">get the new Government job notifications</a> </li>
            <li><a href="#">Know the disability reservation in government jobs</a> </li>
            <li><a href="#">upload your own start-up idea</a> </li>
            <li><a href="#">Check new updates</a> </li>
            <li><a href="#">Check new updates</a> </li>
        </ul>    
        </div>
        <div class="col-1"></div>
        <div class="col-7">
            <div class="card">
                <div class="noti">
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                <h3>Company Name</h3>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-6">
                                <p>Job Role :</p>
                            </div>
                            <div class="col-6">
                                <p>Stipend offered:</p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Skills Required :</p>
                            </div>
                            <div class="col-6">
                                <p>Experience :</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Education Qualification :</p>
                            </div>
                            <div class="col-6">
                                <p>Employement Type :</p>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-2"><button class="btn btn1">More Info</button></div>
                            <div class="col-2"><button class="btn btn-success">Apply Now</button></div>
                            <div class="col-2"><button class="btn btn-primary">How To Apply</button></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="noti">
                        <div class="container">
                            <div class="row">
                                <div class="col-10">
                                    <h3>Company Name</h3>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-6">
                                    <p>Job Role :</p>
                                </div>
                                <div class="col-6">
                                    <p>Stipend offered:</p>
                                </div>
    
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p>Skills Required :</p>
                                </div>
                                <div class="col-6">
                                    <p>Experience :</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p>Education Qualification :</p>
                                </div>
                                <div class="col-6">
                                    <p>Employement Type :</p>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-2"><button class="btn btn1">More Info</button></div>
                                <div class="col-2"><button class="btn btn-success">Apply Now</button></div>
                                <div class="col-2"><button class="btn btn-primary">How To Apply</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="noti">
                            <div class="container">
                                <div class="row">
                                    <div class="col-10">
                                        <h3>Company Name</h3>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-6">
                                        <p>Job Role :</p>
                                    </div>
                                    <div class="col-6">
                                        <p>Stipend offered:</p>
                                    </div>
        
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p>Skills Required :</p>
                                    </div>
                                    <div class="col-6">
                                        <p>Experience :</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p>Education Qualification :</p>
                                    </div>
                                    <div class="col-6">
                                        <p>Employement Type :</p>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-2"><button class="btn btn1">More Info</button></div>
                                    <div class="col-2"><button class="btn btn-success">Apply Now</button></div>
                                    <div class="col-2"><button class="btn btn-primary">How To Apply</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="noti">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-10">
                                            <h3>Company Name</h3>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Job Role :</p>
                                        </div>
                                        <div class="col-6">
                                            <p>Stipend offered:</p>
                                        </div>
            
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Skills Required :</p>
                                        </div>
                                        <div class="col-6">
                                            <p>Experience :</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Education Qualification :</p>
                                        </div>
                                        <div class="col-6">
                                            <p>Employement Type :</p>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-2"><button class="btn btn1">More Info</button></div>
                                        <div class="col-2"><button class="btn btn-success">Apply Now</button></div>
                                        <div class="col-2"><button class="btn btn-primary">How To Apply</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="noti">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-10">
                                                <h3>Company Name</h3>
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col-6">
                                                <p>Job Role :</p>
                                            </div>
                                            <div class="col-6">
                                                <p>Stipend offered:</p>
                                            </div>
                
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p>Skills Required :</p>
                                            </div>
                                            <div class="col-6">
                                                <p>Experience :</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p>Education Qualification :</p>
                                            </div>
                                            <div class="col-6">
                                                <p>Employement Type :</p>
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col-2"><button class="btn btn1">More Info</button></div>
                                            <div class="col-2"><button class="btn btn-success">Apply Now</button></div>
                                            <div class="col-2"><button class="btn btn-primary">How To Apply</button></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="noti">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-10">
                                                    <h3>Company Name</h3>
                                                </div>
                                            </div><br>
                                            <div class="row">
                                                <div class="col-6">
                                                    <p>Job Role :</p>
                                                </div>
                                                <div class="col-6">
                                                    <p>Stipend offered:</p>
                                                </div>
                    
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <p>Skills Required :</p>
                                                </div>
                                                <div class="col-6">
                                                    <p>Experience :</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <p>Education Qualification :</p>
                                                </div>
                                                <div class="col-6">
                                                    <p>Employement Type :</p>
                                                </div>
                                            </div><br>
                                            <div class="row">
                                                <div class="col-2"><button class="btn btn1">More Info</button></div>
                                                <div class="col-2"><button class="btn btn-success">Apply Now</button></div>
                                                <div class="col-2"><button class="btn btn-primary">How To Apply</button></div>
                                            </div>
                                        </div>
                                    </div>
                                                                         
                
                         
                                                
            </div>
            <div class="col-2"></div>
        </div>
    </div>