<footer class="footer-container">
    <div class="all">
    <div class="quick-links">
        <h1>Quick Links</h1>
        <div class="links">
            <div class="column">
                <ul>
                    <li><a href="#" routerLink="home">Home</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#" routerLink="login">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Help & FAQs</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="contact-info">
        <h1>Contact Us</h1>
        <p>Email: info@example.gov</p>
        <p>Phone: +123-456-7890</p>
        <p>Address: 123 Government Ave, City, Country</p>
    </div>
    <div class="useful-links">
        <h1>Useful Links</h1>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
         </ul>
    </div>
    <div class="follow-us">
        <h1>Follow Us</h1>
        <a href="#" class="follow-link"><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;Facebook</a>
        <a href="#" class="follow-link"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;Instagram</a>
        <a href="#" class="follow-link"><i class="fa-brands fa-whatsapp"></i>&nbsp;&nbsp;WhatsApp</a>
    </div>
    
    </div>
    <div class="copyrights">
        <hr class="divider"><br>
        <h5 class="copyright">&copy; 2023 Your Government. All rights reserved.</h5>
        </div>
</footer>