
    <div class="container">
    <div class="card2">
      <div class="card-title">Instructions</div>
        <div class="card-body">
          <ul>
            <li>
              The User must be login into application by verifying their UDID. 
            </li>
            <li>If the user disability is blind their parents/gaurdian can login into the application.</li>
            <li>User can be notified with Job opputunities.</li>
            <li>If they applied for the job they can practice mock tests and they can also practice the intervew sessions they can attend the exam with lot preparation.</li>
            <li>If they couldn't select for job again they can apply for the same or another job notification.</li>
            <li>And the people with great talent can can look into this regarding their will.</li>
            <li>A curated platform where they can upload their ideas for the bussiness startup.</li>
            <li>The investors can look into ideas block and can invest if they are intrested in any idea.</li>
          </ul>

        </div>
      
    </div>
    </div>
    
<div class="container">
    <div class="card">
      <div class="card-title">
        <u><h5>Objective:</h5></u>
      </div>
      <div class="card-body">
        <p> Accessibility and inclusion of Persons with disabilities (PwDs) in the 
          workforce remains a challenging one on a global scale and with much more diversity in our 
          Country's context. There have been ongoing attempts and measures to ensure the inclusion of PwDs in the 
          workforce especially in the Government and PSUs level by the Department and other agencies working for them. This includes the Job Coach programme, an introduction to job support services, 
          with support for application, training for competitive examination in an accessible manner, guidance to the PSUs and Department for accessible conduct of competitive examinations, counselling, and 
          logistic support for candidates to write / attend the examination and interview thereafter. Finally, on placement, support for workplace adaptations or reasonable accommodation to sustain the job. The Department of Empowerment of Persons with Disabilities (DEPwD), 
          National Institutions like NIEPMD, collaborating with Government and Non-Governmental Organizations (NGOs) support with such job coach programme and assist Persons with Disabilities (PwDs) especially D andamp; E category, the most vulnerable group with either cognitive, learning, severe mobility, 
          behaviour management, socialisation, or multiple such difficulties.</p>
      </div>
    </div>
    </div>
