<div class="top">
    <!-- <p>Skip This Content</p> -->
    <p>Sitemap</p>
  
<div class="login">
    <i class="fa-solid fa-user"></i>
    <p>Login</p><span>/</span><p  data-toggle="modal" data-target="#register"> Register
    </p>
    
</div>
</div>
<div class="img">
    <img src="assets/images/UDYOGA.png" width="400px">
     <p class="text">A Web based platform for disabled people</p>
    <div class="list">
    <ul><li class="f">Job Notifications</li>
        <li class="s">Preparation</li>
        <li class="t">Assistance</li>
    </ul>
</div>
</div>
<div class="marquee">
    <marquee scrollamount="13">** Latest updates about jobs | Check new Job notifications | Enroll for NIEPMD | Write Mock tests and prctice tests | Upload your start up Idea **</marquee>
</div>
<nav>
    <ul>
       <li><a href="#" routerLink="home"> <i class="fa-solid fa-house"></i> Home</a></li>
        <li><a href="#" routerLink="notifications"><i class="fa-solid fa-bell"></i>Notifications</a></li>
        <li><a href="#"> <i class="fa-solid fa-phone"></i>    Contact Us</a></li>
         <li><a href="#" routerLink="about"><i class="fa-solid fa-address-card" ></i>  About</a></li>
        <li><a href="#">  <i class="fa-solid fa-lightbulb"></i>   Talents/Ideas</a></li>
        <li><a href="#"><i class="fa-solid fa-book"></i>    Practice</a></li>

         <li><a href="#" routerLink="faqs"><i class="fa-solid fa-question"></i>   Help & FAQs</a></li>
    </ul>
</nav>
<div class="dialog">
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Register as</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="content combine">
              <app-parent-register></app-parent-register>
              <app-child-register></app-child-register>
              
            </div>
          </div>
        </div>
      </div>
      </div>
<router-outlet></router-outlet>
<div class="foot">
<app-footer></app-footer>
</div>