.top{
    background-color: rgb(3, 6, 54);
    color:white;
    padding: 8px;
    font-size: 12px;

    justify-content: space-between;    
}
nav{
    background-color:rgb(3, 6, 54) ;
    height: 50px;
  
}
nav ul{
    list-style: none;
    color:white;
    margin-left: 30px;
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
    margin-left: 50px;
    font-size: 16px;
    margin-top: 10px;
    font-family: Segoe UI, Helvetica, Calibri !important;
}
nav ul li a{
    text-decoration: none;
    color:white;
    padding-top: 8px;
    padding-bottom: 18px;
    padding-left: 5px;
    padding-right: 5px;
}
nav ul li a:hover{
    background-color: rgb(40, 44, 90);
}
